---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Kamela Tarabishi">
	<h2>Work In Progress</h2>
</MainLayout>

<style>
  h2 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
</style>
